html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}


h2 {
    margin-bottom: 0;
}


.admin-container {
    display: flex;
    gap: 20px;
    margin-bottom:20px;
}

.last-project {
    flex: 1;
    padding: 20px;
    margin-left: 10px;
    padding-bottom: 5px;

    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.projets {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#add {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

#la {
    font-size: 5rem;
    border-bottom: 0;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

#add:hover #la {
    transform: scale(1.1);
    font-size: 6rem;
    cursor: pointer;
}

#plus {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2.5px;
}

#plus a:hover{
    cursor: pointer;
}

.dashboard {
    flex: 2;
    background-color: #dab200;
    border: solid 2px #181818;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
 }
 
 .dashboard .box-container .box{
    text-align: center;
    background-color: #ffd18d;
    border:.2rem solid black;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    text-align: center;
    padding:1.5rem;
    max-height: 200px;
    overflow: hidden;
    box-sizing: border-box;
 }
 
 .dashboard .box-container .box h3{
    font-size: 2.7rem;
    color: black;
 }
 
 .dashboard .box-container .box h3 span{
    font-size: 2rem;
 }
 
 .dashboard .box-container .box p{
    padding:1.5rem;
    border-radius: .5rem;
    background-color: #f5f5f5;
    font-size: 1.8rem;
    border:.2rem solid black;
    margin:1rem 0;
    color:#999;
 }
 
#super {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 200px;
}

.admin-table-container {
    width: 100%;
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.admin-table-container table {
    width: 100%; /* Étend la table */
    border-collapse: collapse; /* Évite les espacements inutiles */
}

.admin-list:hover {
    background-color: #dbdbdb;
}

.delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.delete-admin:hover, .delete-admin:hover .delete-btn{
    color: white;
    background: #d62828;
}

 
#retour{
    padding: 10px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#retour:hover{
    background-color: #ae8800;
}

.input-group {
    margin-bottom: 15px;
 }
 
 .hidden {
    display: none;
 }


.form-container {
    background: #dab200;
    border: solid 1px #181818;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}


.form-add, .form-mod {
    background: #dab200;
    padding: 20px;
    border: solid 1px #181818;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    box-sizing: border-box;
}

form.projet, form.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

form .boite {
    padding: 10px;
    border: 1px solid #181818;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #181818;
}

form .boite:focus {
    outline: none;
    border-color: #ae8800;
    box-shadow: 0 0 4px #dab200;
}

form button, #btn-add, #btn-mod, #connect, #acceuil, #add-admin, #modifier-compte {
    padding: 10px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

#navBtn, .modaleBtn:not(.hidden) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modaleBtn {
    width: 100% !important; 
    margin-bottom: 2px;
}

#prevBtn, #nextBtn {
    padding: 10px;
    background-color: #181818;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}


form button:hover, #btn-add:hover, #btn-mod:hover, #connect:hover,
#acceuil:hover, #add-admin:hover, #modifier-compte:hover,
#prevBtn:hover, #nextBtn:hover {
    background-color: #ae8800;
}

#modifier-compte {
    padding:1.5rem;
    border-radius: .5rem;
    font-size: 1.8rem;
    margin:1rem 0;
    width: 100%;
}

.projets.archived {
    opacity: 0.6; /* Rend l'élément plus transparent */
    background-color: #f0f0f0; /* Fond grisé */
    border-left: 5px solid red; /* Ajoute un marqueur visuel */
    position: relative; /* Nécessaire pour que ::after soit positionné par rapport à .projets */
}

/* Ajoute un texte "ARCHIVÉ" bien positionné */
.projets.archived::after {
    content: "ARCHIVÉ";
    color: white;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    z-index: 10; /* S'assure qu'il reste au-dessus */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Ajoute un léger effet d'ombre */
}


.general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 300px;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .general > * {
    display: flex;
    flex-direction: column;
  }
  
  .general .duo {
    align-items: flex-start;
  }

  .general#G2{
    grid-template-columns: 1fr;
    height: auto; 
  }
  

  @media (max-width: 600px) {
    .general {
      grid-template-columns: 1fr;
      height: auto; 
    }
  }



#synopsis-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.synopsis {
    flex: 1;
    text-align: center;
}

.synopsis textarea {
    height: 150px;
    resize: vertical;
}

#resume-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.resume {
    flex: 1;
    text-align: center;
}

.resume textarea {
    height: 150px;
    resize: vertical;
}

@media screen and (max-width: 900px) {
    #add-projet {
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    #synopsis-container {
        flex-direction: column;
        align-items: center;
    }

    .synopsis {
        max-width: none;
        width: 100%;
    }

    #resume-container {
        flex-direction: column;
        align-items: center;
    }

    .resume {
        max-width: none;
        width: 100%;
    }

    .avis {
        max-width: none;
        width: 100%;
    }
}

#avis-container {
    display: flex;
    padding: 10px;
}

#avis_perso{
    height: 150px;
    resize: vertical;
}

/* Conteneur des objectifs */
#objectifs-container, #etapes-container {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }

#objectifs-container:has(.objectif:nth-child(2)),
#etapes-container:has(.etape:nth-child(2)) {
    grid-template-columns: repeat(2, 1fr);
}

  .objectif, .etape {
    border: 2px solid #000000; 
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffd18d;
    overflow: hidden;
  }

  .objectif input[type="text"], .etape input[type="text"] {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  .objectif textarea, .etape textarea {
    width: 100%; 
    height: 100px; 
    resize: none;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto; 
  }

#suppr{
    float: right;
}

.error-message {
    color: #ff0000;
    background-color: #ffecec;
    border: 1px solid #ff5e5e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 14px;
 }
 

